menu "MIDI WiFi Configuration"

    config MIDI_WIFI_SSID
        string "WiFi SSID"
        default "GANDALF"
        help
            SSID (network name) to connect to.

    config MIDI_WIFI_PASSWORD
        string "WiFi Password"
        default "klop4214"
        help
            WiFi password (WPA or WPA2).
endmenu